.background {
    margin-top: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.background_opacity {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(38,38,38,0.700717787114846) 56%);
    padding: 5rem;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fecha {
    color: gray;
    font-size: 1.8rem;
    margin: 0.5rem 0 2rem 0;
}

.texto {
    color: var(--blanco);
    text-align: left;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

.enlace {
    margin-top: 2rem;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--negro);
    border: 2px solid var(--primary);
    background-color: var(--primary);
    padding: 1rem 5rem;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
}

.enlace:hover {
    background-color: var(--negro);
    color: var(--blanco);
}

.curso {
    margin-bottom: 5rem;
}

.curso h2 {
    margin-top: 1rem;
}

@media (min-width: 992px) {
    .grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2,1fr);
    }

    .contenido {
        grid-column: 2/3;
    }
}